amqp
asgiref
billiard
celery==5.4
crispy-bootstrap4
Django
django-celery-beat
django-crispy-forms
django-timezone-field
djlint
kombu
olefile==0.46
Pillow==10.1
python-crontab==2.4.0
python-dateutil
pytz==2019.3
redis==3.4.1
six
sqlparse
vine
zipp==2.1.0