{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    {{ title }} | {{ block.super }}
{% endblock title %}
{% block content %}
    {% include "core/messages.html" %}
    <div class="alert alert-primary" role="alert">Your current account balance is ${{ request.user.balance }}.</div>
    <h2>{{ title }}</h2>
    <hr>
    <form method="post" action="">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <input class="btn btn-primary" type="submit" value='{{ title }}'>
    </form>
{% endblock content %}
