{% extends "core/base.html" %}
{% load static %}
{% block fixed %}
  <div class="position-fixed w-100 h-100 top-0 left-0">
    <img style="object-fit: cover"
         height="auto"
         width="auto"
         class="w-100 h-100"
         src="{% static 'img/background.jpg' %}"
         alt="" />
  </div>
  <div class="position-fixed w-100 h-100 top-0 left-0">
    <img style="object-fit: cover"
         height="auto"
         width="auto"
         class="w-100 h-100"
         src="{% static 'img/overlay.png' %}"
         alt="" />
  </div>
{% endblock fixed %}
{% block content %}
  <div class="container h-100 d-flex flex-row justify-content-center">
    <div class="row w-100 align-items-center justify-content-center">
      <div class="col-md-8 text-center col-sm-12">
        <h1>Per Scholas Bank</h1>
        <p class="mb-5">
          Per Scholas helps you invest in yourself!
          <br>
          (Not a real bank.)
        </p>
        {% if not request.user.is_authenticated %}
          <p>
            <a href="{% url 'accounts:login' %}"
               class="btn btn-white btn-outline-white">Log In To Account</a>
          </p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}
